body, html {
  background-color: rgb(40, 67, 128);
  color: rgb(224, 192, 119);
  height: 100%;
}
.table{
  display:table;
  min-height: 50%;
}
.table-cell {
  display: table-cell;
  vertical-align:middle;
}

ul{
  list-style-type: none;
}

.listContainer{
  margin-top: 35px;
}

.saveButton{
  width: 80px;
  margin-left: -10px;
}
button{
  background-color: rgb(73, 164, 58);
  border: 1px solid white;
  border-bottom: 1px solid rgb(60, 60, 60);
  border-right: 1px solid rgb(60, 60, 60);
}
button:hover {
  background-color: rgb(66, 123, 168);
  border: 1px solid white;
  border-top: 1px solid rgb(60, 60, 60);
  border-left: 1px solid rgb(60, 60, 60);
}

.fa-times-circle:hover {
  cursor: crosshair;
}
input{
  color: black;
}
.red{
  color: red;
}

.green{
  color: green;
}

.percent{
  margin-right: 40px;
}

marquee{
  font-size: 160%;
  background-color: black;
}

li {
  box-shadow: 5px 5px 3px black;
  color: white;
  background-image: -webkit-linear-gradient(bottom, #383838  0%, #444444  49%, #555 50%, #555 100%);
  background-image: -moz-linear-gradient(bottom, #383838  0%, #444444  49%, #555 50%, #555 100%);
  background-image: -ms-linear-gradient(bottom, #383838  0%, #444444  49%, #555 50%, #555 100%);
  background-image: -o-linear-gradient(bottom, #383838  0%, #444444  49%, #555 50%, #555 100%);
  background-image: linear-gradient(bottom, #383838  0%, #444444  49%, #555 50%, #555 100%);
  width:145px;
}

.githublink {
  position: fixed;
  bottom: 10%;
  background-color: ghostwhite;
}
